<<<<<<< HEAD
=======
<hr class="divider-d">
<footer class="footer bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="copyright font-alt">&copy; 2017&nbsp;<a href="index.html">Titan</a>, All Rights Reserved</p>
            </div>
            <div class="col-sm-6">
                <div class="footer-social-links"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="scroll-up"><a href="#totop"><i class="fa fa-angle-double-up"></i></a></div>
</main>
<!--
    JavaScripts
    =============================================
    -->
<script src="/titan-shop-template/assets/lib/jquery/dist/jquery.js"></script>
<script src="/titan-shop-template/assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/titan-shop-template/assets/lib/wow/dist/wow.js"></script>
<script src="/titan-shop-template/assets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js"></script>
<script src="/titan-shop-template/assets/lib/isotope/dist/isotope.pkgd.js"></script>
<script src="/titan-shop-template/assets/lib/imagesloaded/imagesloaded.pkgd.js"></script>
<script src="/titan-shop-template/assets/lib/flexslider/jquery.flexslider.js"></script>
<script src="/titan-shop-template/assets/lib/owl.carousel/dist/owl.carousel.min.js"></script>
<script src="/titan-shop-template/assets/lib/smoothscroll.js"></script>
<script src="/titan-shop-template/assets/lib/magnific-popup/dist/jquery.magnific-popup.js"></script>
<script src="/titan-shop-template/assets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js"></script>
<script src="/titan-shop-template/assets/js/plugins.js"></script>
<script src="/titan-shop-template/assets/js/main.js"></script>


<!--Slider JavaScript file  -->
<script src="/titan-shop-template/assets/ItemSlider/js/modernizr.custom.63321.js"></script>
<script src="/titan-shop-template/assets/ItemSlider/js/jquery.catslider.js"></script>
<script>
    $(function() {

        $('#mi-slider').catslider();

    });
</script>
</body>

</html>
>>>>>>> release-0-2
