<% include partials/header.ejs %>
<!-- FAQs -->
<section class="module">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="tab-content">
                    <div class="tab-pane active" id="support">
                        <div class="panel-group" id="accordion">


                            <!-- <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="<%= questionid %>"><%= question %></a></h4>
                                </div>
                                <div class="panel-collapse collapse in" id="<%= answerid %>">
                                    <div class="panel-body">
                                        <%= answer %>
                                    </div>
                                </div>
                            </div> -->


                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title font-alt"><a data-toggle="collapse" data-parent="#accordion" href="#faq1">Why should we buy at your store?</a></h4>
                                </div>
                                <div class="panel-collapse collapse in" id="faq1">
                                    <div class="panel-body">Our store offers a wide variety of inspired-clothing that you can choose from. Our categories are comprised of Anime, Movies and Videogame merchandise, so a lot of anime, movies and
                                        videogame fans can buy their favorite stuff at our shop.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq2">How can I get my item that I ordered online?</a></h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq2">
                                    <div class="panel-body">Your order will be delivered right at your doorstep by your selected shipping courier.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq3">Is the delivery only in Metro Manila or is it available Nationwide?</a></h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq3">
                                    <div class="panel-body">Our delivery courier is not limited to Metro Manila only. If you are outside Metro Manila, we can ship your item with the help of our trusted courier.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq4">What are the payment methods available?</a></h4>
                                </div>
                                <div class="panel-collapse collapse" id="faq4">
                                    <div class="panel-body">The only available payment method as of now is through BDO, but rest assured, we will continually develop our payment system and our store entirely.
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title font-alt"><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq5">Can I reserve an item for me to buy later on?</a></h4>
                                    </div>
                                    <div class="panel-collapse collapse" id="faq5">
                                        <div class="panel-body">We do accept reservations, however the customer must include a specific date of payment for the order and must follow through that schedule. Failure of payment deposition within 2-3
                                            days from the date of payment will result to forfeiture of reservation.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<hr class="divider-w">
<section class="module" id="team">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Meet Our Team</h2>
                <div class="module-subtitle font-serif">A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</div>
            </div>
        </div>
        <div class="row">
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                    <div class="team-image"><img src="titan-shop-template/assets/images/pid.png" alt="Member Photo"/>
                        <div class="team-detail">
                            <h5 class="font-alt">Hi all</h5>
                            <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                            <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                    </div>
                    <div class="team-descr font-alt">
                        <div class="team-name">Paul Soriano</div>
                        <div class="team-role">Pride Conductor</div>
                    </div>
                </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                    <div class="team-image"><img src="titan-shop-template/assets/images/pid.png" alt="Member Photo"/>
                        <div class="team-detail">
                            <h5 class="font-alt">Good day</h5>
                            <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                            <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                    </div>
                    <div class="team-descr font-alt">
                        <div class="team-name">David Mackenzie</div>
                        <div class="team-role">Gay Enthusiast</div>
                    </div>
                </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                    <div class="team-image"><img src="titan-shop-template/assets/images/pid.png" alt="Member Photo"/>
                        <div class="team-detail">
                            <h5 class="font-alt">Hello</h5>
                            <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                            <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                    </div>
                    <div class="team-descr font-alt">
                        <div class="team-name">Bryan Wetty</div>
                        <div class="team-role">Crybaby</div>
                    </div>
                </div>
            </div>
            <div class="mb-sm-20 wow fadeInUp col-sm-6 col-md-3" onclick="wow fadeInUp">
                <div class="team-item">
                    <div class="team-image"><img src="titan-shop-template/assets/images/pid.png" alt="Member Photo"/>
                        <div class="team-detail">
                            <h5 class="font-alt">Yes, it's me</h5>
                            <p class="font-serif">Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&amp;nbsp;iaculis diam.</p>
                            <div class="team-social"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-dribbble"></i></a><a href="#"><i class="fa fa-skype"></i></a></div>
                        </div>
                    </div>
                    <div class="team-descr font-alt">
                        <div class="team-name">Psycho Doll</div>
                        <div class="team-role">Serial Killer</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="divider-w">

<!-- contact form -->
<section class="module" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <h2 class="module-title font-alt">Contact us</h2>
                <div class="module-subtitle font-serif"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <form id="contactForm" role="form" method="post" action="php/contact.php">
                    <div class="form-group">
                        <label class="sr-only" for="name">Name</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="Your Name*" required="required" data-validation-required-message="Please enter your name."/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" placeholder="Your Email*" required="required" data-validation-required-message="Please enter your email address."/>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="7" id="message" name="message" placeholder="Your Message*" required="required" data-validation-required-message="Please enter your message."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-block btn-round btn-d" id="cfsubmit" type="submit">Submit</button>
                    </div>
                </form>
                <div class="ajax-response font-alt" id="contactFormResponse"></div>
            </div>
            <div class="col-sm-4">
                <div class="alt-features-item mt-0">
                    <div class="alt-features-icon"><span class="icon-megaphone"></span></div>
                    <h3 class="alt-features-title font-alt">Where to meet</h3>Titan Company<br/>23 Greate Street<br/>Los Angeles, 12345 LS
                </div>
                    <div class="alt-features-item mt-xs-60">
                        <div class="alt-features-icon"><span class="icon-map"></span></div>
                        <h3 class="alt-features-title font-alt">Say Hello</h3>Email: somecompany@example.com<br/>Phone: +63 915 672 3579
                </div>
                    </div>
                </div>
            </div>
</section>
<% include partials/footer.ejs %>
