<!-- Including header content which is common for all pages -->
<% include partials/header.ejs %>
<section class="home-section bg-dark-30 home-full-height" id="home">
    <div class="video-player" data-property="{videoURL:'https://www.youtube.com/watch?v=bNucJgetMjE', containment:'.home-section', startAt:20, mute:false, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:25}"></div>
    <div class="video-controls-box">
        <div class="container">
            <div class="video-controls"><a class="fa fa-volume-up" id="video-volume" href="#">&nbsp;</a><a class="fa fa-pause" id="video-play" href="#">&nbsp;</a></div>
        </div>
    </div>
</section><br><br>
<h2 class="module-title font-alt">Products</h2>
<div class="main box-border">
    <div id="mi-slider" class="mi-slider">
        <ul>
            <li><a href="shop_haikyuu.html">
                    <img src="/titan-shop-template/assets/images/shop/anime/haikyuu!!/nekoma.jpg" alt="haikyuu"><h4>Haikyuu!!</h4></a>
            </li>
            <li><a href="shop_yoi.html">
                    <img src="/titan-shop-template/assets/images/shop/anime/yoi/yuri.jpg" alt="yoi"><h4>Yuri on Ice</h4></a>
            </li>
            <li><a href="shop_bnha.html">
                    <img src="/titan-shop-template/assets/images/shop/anime/bnha/deku.jpg" alt="bnha"><h4>Boku no Hero Academia</h4></a>
            </li>
            <li><a href="shop_fairytail.html">
                    <img src="/titan-shop-template/assets/images/shop/anime/fairytail/happy.jpg" alt="fairytail"><h4>Fairytail</h4></a>
            </li>
            <!-- other products pa. di ko alam pano slider

                            <li><a href="product_knb.html">
                                <img src="assets/images/shop/anime/knb/kaijo_high.jpg" alt="knb"><h4>Kuroko no Basuke</h4>
                            </a></li>

                            <li><a href="product_nnt.html">
                                <img src="assets/images/shop/anime/nnt/king.jpg" alt="nnt"><h4>Nanatsu no Taizai</h4>
                            </a></li>
                            <li><a href="product_osomatsu.html">
                                <img src="assets/images/shop/anime/osomatsu/karamatsu.jpg" alt="osomatsu"><h4>Osomatsu-kun</h4>
                            </a></li>
                            <li><a href="product_snk.html">
                                <img src="assets/images/shop/anime/snk/wing.jpg" alt="snk"><h4>Shingeki no Kyojin</h4>
                            </a></li>
                            <li><a href="product_sm.html">
                                <img src="assets/images/shop/anime/luna.jpg" alt="sm"><h4>Sailor Moon</h4>
                            </a></li> -->
        </ul>
        <ul>
            <li><a href="product_hp.html">
                <img src="/titan-shop-template/assets/images/shop/movie/hp/slytherin.jpg" alt="snake"><h4>Harry Potter</h4></a>
            </li>
            <li><a href="product_riverdale.html">
                <img src="/titan-shop-template/assets/images/shop/movie/riverdale/archie.jpg" alt="archie"><h4>Riverdale</h4></a>
            </li>
            <li><a href="product_deadpool.html">
                <img src="/titan-shop-template/assets/images/shop/movie/deadpool/mercenary.jpg" alt="deadpool"><h4>DeadPool</h4></a>
            </li>
        </ul>
        <ul>
            <li><a href="product_">
                <img src="/titan-shop-template/assets/images/shop/videogames/mechpilot/mechpilot.jpg" alt="mech"><h4>Mech Pilot</h4></a>
            </li>
            <li><a href="#">
                <img src="/titan-shop-template/assets/images/shop/videogames/medic/front.jpg" alt="medic"><h4>Medic</h4></a>
            </li>
            <li><a href="#">
                <img src="/titan-shop-template/assets/images/shop/videogames/vigilante/front.jpg" alt="vigilante"><h4>Vigilante</h4></a>
            </li>
            <li><a href="product_mysticmess.html">
                <img src="/titan-shop-template/assets/images/shop/videogames/mystic_mess/seven.jpg" alt="mystic_mess"><h4>Mystic Messenger</h4></a>
            </li>
            <!-- eto paaa
                            <li><a href="product_pokemon.html">
                                <img src="assets/images/shop/videogames/pokemon/mystic.jpg" alt="mystic"><h4>Pokemon</h4>
                            </a></li>
                            <li><a href="product_pos.html">
                                <img src="assets/images/shop/videogames/pos/honan.jpg" alt="pos"><h4>POS</h4>
                            </a></li> -->
        </ul>
        <ul>
            <li><a href="product_univ">
                <img src="/titan-shop-template/assets/images/pid.png" alt="img12"><h4>PUP</h4></a>
            </li>
            <li><a href="#">
                <img src="/titan-shop-template/assets/images/pid.png" alt="img12"><h4>Oxford</h4></a>
            </li>
        </ul>
        <nav>
            <a href="#  ">Anime</a>
            <a href="#">Movies</a>
            <a href="#">Video Games</a>
            <a href="#">University Merchs</a>
        </nav>
    </div>
</div><br><br>
<!-- Slideshow -->
<section class="home-section home-fade" id="home">
    <div class="hero-slider">
        <ul class="slides">
            <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;titan-shop-template/assets/images/pid.png&quot;);">
            </li>
            <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;titan-shop-template/assets/images/slideshow/1.jpg&quot;);">
            </li>
            <li class="bg-dark-30 bg-dark shop-page-header" style="background-image:url(&quot;titan-shop-template/assets/images/slideshow/2.jpg&quot;);">
            </li>
        </ul>
    </div>
</section>
<div class="main">
    <section class="module-small">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h2 class="module-title font-alt">Featured Products</h2>
                </div>
            </div>
            <div class="row multi-columns-row">
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/jacob.jpg" alt="Jacob Inspired Jackets"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_jacob.html">Jacob Inspired Jackets</a></h4>₱1250
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/fukurodani.jpg" alt="Fukurodani Inspired team Jackets"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_fukurodani.html">Fukurodani Inspired Team Jackets</a></h4>₱950
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/karasuno.jpg" alt="Karasuno Inspired Team Jackets"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_karasuno.html">Karasuno Inspired Team Jackets</a></h4>₱950
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/nekoma.jpg" alt="Nekoma Highschool VBC Inspired Jackets"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_nekoma.html">Nekoma Highschool VBC Inspired Jackets</a></h4>₱950
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/mechpilot.jpg" alt="Mech Pilot Hoodie"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_mech.html">Mech Pilot Hoodie</a></h4>₱1250
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/medic.jpg" alt="Medic Hoodie"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_medic.html">Medic Hoodie</a></h4>₱1250
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/vigilante.jpg" alt="Vigilante Jacket"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_vigilante.html">Vigilante Jacket</a></h4>₱1250
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3">
                    <div class="shop-item">
                        <div class="shop-item-image"><img src="/titan-shop-template/assets/images/featured/happy.jpg" alt="Happy Inspired Hoodie"/>
                            <div class="shop-item-detail"><a href="shop_cart.html" class="btn btn-round btn-b"><span class="icon-basket">Add To Cart</span></a></div>
                        </div>
                        <h4 class="shop-item-title font-alt"><a href="product_happy.html">Happy Inspired Hoodie</a></h4>₱950
                    </div>
                </div>
            </div>
            <div class="row mt-30">
                <div class="col-sm-12 align-center"><a class="btn btn-b btn-round" href="shop.html">See all products</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Including footer content which is common for all pages -->
    <% include partials/footer.ejs %>
