/* CUSTOM STYLESHEET */
* {
  text-decoration: none;
}


.title-btn {
  float: right;
  font-size: 12px;
  padding: 12px 24px;
}

.title {
  padding: 8px;
  font-size: 24px;
  font-weight: 100;
  text-transform: uppercase;
}

.table-icon {
  float: left;
  padding-right: 8px;
}

.table-name {
  padding: 8px;
  float: left;
  font-size: 24px;
  font-weight: lighter;
  text-transform: uppercase;
}

.index-link {
  color: #555555;
}

.index-links {
  float: right;
}

.form-control {
  border-color: #C7EDE8;
}

.btn-icons {
  padding: 3px !important;
  width: 24px !important;
  height: 24px !important;
}

.btn-submit {
  float: right;
}

.popup-dismiss {
    margin-left: auto !important;
}

.purchace-popup > div > span {
    background-color: #ffffff;
    border-color: #555555;
    border-radius: 3px;
}

.form-button {
    display: inline-block;
    margin: 0;
    padding: 0;
}
