            </div>
        <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->

        <!-- plugins:js -->
        <script src="/star-admin-template/vendors/js/vendor.bundle.base.js"></script>
        <script src="/star-admin-template/vendors/js/vendor.bundle.addons.js"></script>
        <!-- endinject -->
        <!-- Plugin js for this page-->
        <script src="/star-admin-template/js/main.js"></script>
        <!-- End plugin js for this page-->
        <!-- inject:js -->
        <script src="/star-admin-template/js/off-canvas.js"></script>
        <script src="/star-admin-template/js/misc.js"></script>
        <!-- endinject -->
        <!-- Custom js for this page-->
        <script src="/star-admin-template/js/dashboard.js"></script>
        <script src="/star-admin-template/js/moment.js"></script>
        <script>
            moment().format();
        </script>
        <script src="/js/addtextbox.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery.form/3.51/jquery.form.min.js"></script>
        <script>
            $(document).ready(function() {
                $('#uploadForm').submit(function() {
                    $("#status").empty().text("File is uploading...");
                    $(this).ajaxSubmit({
                        error: function(xhr) {
                            status('Error: ' + xhr.status);
                        },
                        success: function(response) {
                            console.log(response)
                            $("#status").empty().text(response);
                        }
                    });
                    return false;
                });
            });
        </script>
    <!-- End custom js for this page-->
    </body>

</html>
